[Unit]
Description=Jupiter fan control
ConditionPathExists=/sys/class/dmi/id/bios_version
ConditionPathExists=/sys/class/dmi/id/board_name

[Service]
Type=simple

ExecStart=/usr/share/jupiter-fan-control/fancontrol.py --run
ExecStopPost=/usr/share/jupiter-fan-control/fancontrol.py --stop

# disable buffering so STDOUT and STDERR show up immediately in logs
Environment=PYTHONUNBUFFERED=1

OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target